/*
!.config/
.config/*
!.config/niri-xdg-terminals.list
!.config/xdg-terminals.list
!.config/alacritty/
!.config/foot/
!.config/fuzzel
!.config/gammastep/
!.config/gtk-3.0/
.config/gtk-3.0/bookmarks
!.config/gtk-4.0/
!.config/helix/
!.config/niri/
!.config/river/
!.config/swayidle/
!.config/swaylock/
!.config/swaync/
!.config/systemd/
.config/systemd/user/sockets.target.wants/
!.config/waybar/
!.config/wallpaper/
!.config/wofi/
!.env
!.gitignore
!tools/
!.tmux.conf
!.zshrc
