* {
    border: none;
    border-radius: 0;
    font-family: JetBrains Mono Bold, sans-serif;
    font-size: 16px;
    padding: 0;
    margin: 0;
    min-height: 8px;
}


    /* #c2c2c2 #7c818c #A2A7B6 #EBDBB2 */
@define-color fg #A2A7B6;
    /* #3c3836 #383c4a #385c6a*/
@define-color bg #383c4a;
/* @define-color bg transparent; */

window#waybar {
    background: transparent;
    /* background : linear-gradient(to right, #f32170, #ff6b08,#cf23cf, #eedd44); */
    /* background: rgba(56, 60, 74, 0.8); */
    /* background: #111111; */
}

window#waybar.hidden {
    opacity: 0.2;
}

tooltip {
    background: rgba(43, 48, 59, 1.0);
    border: 2px solid rgba(100, 114, 125, 0.5);
}

tooltip label {
    color: @fg;
    font-size: 20px;
    padding: 8px;
}

#workspaces {
    margin-right: 8px;
    padding-right: 8px;
    margin-left: 0px;
    padding-left: 4px;
    border-radius: 0px 0px 10px 0px;
    transition: none;
    background: @bg;
}

#workspaces button {
    transition: none;
    color: @fg;
    background: transparent;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 10px 10px 10px 10px;
}

#workspaces button:hover {
    transition: none;
    background: #4A4F62;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 10px 10px 10px 10px;
}

#taskbar {
    margin-right: 8px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 0px 0px 10px 10px;
    transition: none;
    color: #c2c2c2;
    background: @bg;
}

#taskbar button {
    transition: none;
    color: @fg;
    background: transparent;
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 10px 10px 10px 10px;
}

#taskbar button:hover {
    transition: none;
    color: @fg;
    background: #4A4F62;
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 10px 10px 10px 10px;
}

#custom-packages {
    margin-right: 0px;
    padding-left: 16px;
    padding-right: 8px;
    border-radius: 0px 0px 0px 10px;
    transition: none;
    color: @fg;
    background: @bg;
}

#systemd-failed-units {
    margin-right: 8px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 0px 0px 10px 0px;
    transition: none;
    color: @fg;
    background: @bg;
}

#window {
    padding-left: 8px;
    margin-left: 0px;
    font-size: 12px;
    color: @fg;
}

#clock {
    padding-left: 16px;
    padding-right: 8px;
    border-radius: 0px 0px 0px 10px;
    transition: none;
    color: @fg;
    /* background : linear-gradient(to right, #f32170, #ff6b08,#cf23cf, #eedd44); */
    background: @bg;
    font-weight: bold;
}

#custom-notification {
    padding-right: 8px;
    border-radius: 0px 0px 0px 0px;
    transition: none;
    color: @fg;
    background: @bg;
}

#idle_inhibitor {
    padding-left: 5px;
    padding-right: 16px;
    border-radius: 0px 0px 10px 0px;
    transition: none;
    color: @fg;
    background: @bg;
}

#idle_inhibitor.activated {
    padding-left: 5px;
    padding-right: 16px;
    border-radius: 0px 0px 10px 0px;
    transition: none;
    color: #2a5c45;
    background: #90b1b1;
}

#mpris {
    margin-right: 24px;
    color: @fg;
}

#privacy {
    margin-right: 8px;
    padding-right: 4px;
    padding-left: 8px;
    border-radius: 0px 0px 10px 10px;
    transition: none;
    color: #A94949;
    background: #a2a2a2;
}

#pulseaudio-slider {
    padding: 0;
    margin: 0;
}

#pulseaudio-slider slider {
    min-height: 0px;
    min-width: 0px;
    opacity: 0;
    background-image: none;
    border: none;
    box-shadow: none;
}

#pulseaudio-slider trough {
    min-height: 10px;
    min-width: 80px;
    border-radius: 5px;
    background-color: @bg;
}

#pulseaudio-slider highlight {
    min-width: 10px;
    border-radius: 5px;
    background-color: #00D3D0;
}

#custom-togglesink {
    padding-left: 10px; 
    padding-right: 10px;
    color: @fg;
}

#pulseaudio {
    margin-right: 8px;
    padding-left: 8px;
    padding-right: 14px;
    border-radius: 0px 0px 10px 10px;
    transition: none;
    color: @fg;
    background: @bg;
}

/* #pulseaudio.muted { */
/*     background-color: #90b1b1; */
/*     color: #2a5c45; */
/* } */

#cpu {
    padding-left: 12px;
    border-bottom-left-radius: 10px;
    transition: none;
    color: @fg;
    background: @bg;
}

#temperature {
    padding-left: 8px;
    transition: none;
    color: @fg;
    background: @bg;
}

#memory {
    margin-right: 8px;
    padding-left: 8px;
    padding-right: 16px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 10px;
    transition: none;
    color: @fg;
    background: @bg;
}

#custom-netsymbol {
    padding-left: 16px;
    margin-right: 0px;
    padding-right: 5px;
    border-radius: 0px 0px 0px 10px;
    transition: none;
    color: @fg;
    background: @bg;
}

#net {
    padding-left: 0px;
    margin-right: 0px;
    padding-right: 2px;
    border-radius: 0px 0px 0px 0px;
    transition: none;
    color: @fg;
    background: @bg;
}

#network.netup {
    font-size: 10;
}

#network.netdown {
    font-size: 10;
}

/* group named disk */
#disk {
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 8px;
    border-radius: 0px 0px 0px 0px;
    transition: none;
    color: @fg;
    background: @bg;
}

#custom-diskread {
    font-size: 10;
}

#custom-diskwrite {
    font-size: 10;
}

#custom-disksymbol {
    margin-right: 8px;
    padding-left: 0px;
    padding-right: 16px;
    border-radius: 0px 0px 10px 0px;
    transition: none;
    color: @fg;
    background: @bg;
}


#network {
    color: @fg;
    background: @bg;
    margin-right: 0px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 0px 0px 0px 0px;
    transition: none;
}

#network.wired {
    color: @fg;
    background: @bg;
    margin-right: 0px;
    padding-left: 12px;
    padding-right: 6px;
    border-radius: 0px 0px 0px 10px;
    transition: none;
}

#network.wifi {
    color: @fg;
    background: @bg;
    margin-right: 0px;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 0px 0px 0px 0px;
    transition: none;
}

#bluetooth {
    color: @fg;
    background: @bg;
    margin-right: 0px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 0px 0px 0px 0px;
    transition: none;
}

#upower {
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 4px;
    border-radius: 0px 0px 0px 0px;
    /* transition: none; */
    color: @fg;
    /* color: @fg; */
    background: @bg;
}

#tray {
    margin-right: 0px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 0px 0px 0px 0px;
    /* transition: none; */
    color: @fg;
    background: @bg;
}

#custom-tray-symbol {
    margin-right: 0px;
    padding-left: 4px;
    padding-right: 8px;
    border-radius: 0px 0px 10px 0px;
    transition: none;
    color: #797979;
    background: @bg;
}

#custom-tray-symbol:hover {
    color: @fg;
}

#custom-power {
    margin-left: 8px;
    padding-left: 16px;
    padding-right: 8px;
    border-radius: 0px 0px 0px 10px;
    transition: none;
    color: @fg;
    background: @bg;
}

menu {
    border-radius: 16px;
    background: rgba(36, 41, 52, 0.9);
    color: @fg;
    border: 2px solid rgba(100, 114, 125, 1.0);
}

menuitem {
    border-radius: 8px;
    padding: 8px;
}

menu menuitem:hover {
    background-color: #008080; 
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}
